#wrapper {
    padding-left: 50px;
    transition: all 0.5s ease;
   }
   
   #wrapper.toggled {
    padding-left: 250px;
   }
   
   #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: -200px;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 0px #919191, 6px 6px 6px rgba(0, 0, 0, 0.05);
    padding-top: 15px;
    transition: all 0.5s ease;
   }
   
   #wrapper.toggled #sidebar-wrapper {
    left: -250px;
    margin-left: 250px;
   }
   
   #page-content-wrapper {
    width: 100%;
    padding: 15px;
   }
   
   #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -50px;
   }
   
   /* Sidebar Styles */
   
   .sidebar {
    margin: 0;
    padding: 0;
   }
   
   .sidebar li.title {
    letter-spacing: 0.01em;
    font-size: 2rem;
    line-height: 4.2rem;
   }
   
   .sidebar ul {
    margin: 0;
    padding-left: 20px;
    list-style: none;
   }
   
   .sidebar ul li {
    display: block;
   }
   
   .sidebar ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #999999;
   }
   
   .sidebar ul li a [class*="icon"] {
    margin-right: 15px;
   }
   
   .sidebar ul li a#main-toggle:after,
   .sidebar ul li a.dropdown-toggle:after {
    right: 20px;
    bottom: 5px;
   }
   
   .sidebar .sidebar__main {
    border-bottom: 1px solid #373737;
   }
   
   .sidebar .sidebar__toggled {
    font-size: 2rem;
    line-height: 3.4rem;
   }
   
   .sidebar ul li.title,
   .sidebar .sidebar__main--brand a {
    color: #999999;
   }
   
   .dropdown-toggle {
    padding-right: 20px;
   }
   
   #main-toggle:after,
   .dropdown-toggle:after {
    font-family: 'Glyphicons Halflings';
    font-size: .7em;
    position: absolute;
    margin-left: .25em;
    bottom: 0;
    content: "\e114";
   }
   
   .sidebar__toggled {
    border-bottom: 1px solid #444;
   }
   
   #main-toggle:after {
    font-size: 1em;
    content: "\e055";
   }
   .RA-13-sidebar-icn{
    position: relative;
    margin-left: 196px;
    font-size: 21px;
    top: 11px;
    right: -8px;
   }
   
   
   @media(min-width:768px) {
    .RA-13-sidebar-icn{
     display: none;
     }
    #wrapper {
      padding-left: 250px;
    }
   
    #wrapper.toggled {
      padding-left: 50px;
    }
   
    #sidebar-wrapper {
      left: 250px;
      margin-left: -250px;
    }
   
    #wrapper.toggled #sidebar-wrapper {
      left: -200px;
      margin-left: 0;
    }
   
    #page-content-wrapper {
      padding: 20px;
    }
   
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 50px;
    }
   }
   
   .RA-13-brder {
    border-bottom: 1px solid #20304033;
    margin-top: 0px;
    padding: 10px;
    cursor: pointer;
   }
   
   .RA-13-sidebar-icn {
    margin-right: 5px;
   }
   
   .RA-13-sidebar-li {
     font-weight: 300;
     font-size: 12px;
     color: #203040;
     font-family: inherit;
     padding-bottom: 20px;
     font-family: 'Noto Sans JP', sans-serif;
   }
   .RA-13-active-menu {
    background: #fff5e3;
    margin-top: -15px;
    color: #ffa413;
    border-top: 1px solid #e4e4e4;
    font-family: inherit;
    font-weight: 500;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: 20px;
   }
   
   .RA-13-card-style {
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px #e9e9e9;
    padding: 70px;
    border-radius: 4px;
   }
