.card {
   box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);

}

.fnt-size {
   font-size: 12px;
}

.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 0 solid rgba(0, 0, 0, .125);
   border-radius: 1rem;
}

.card .card-body {
   font-family: Open Sans;
   padding: 1.5rem;
}

.p-3 {
   padding: 1rem !important;
}

.card .card-body {
   font-family: Open Sans;
   padding: 1.5rem;
}

.text-end {
   text-align: right !important;
}

.border-radius-md {
   border-radius: 0.5rem;
}

.icon-shape {
   width: 48px;
   height: 48px;
   background-position: 50%;
   border-radius: 0.75rem;
}

.bg-gradient-primary {
   background-image: linear-gradient(310deg, #ffd966, #ff9800);
}

.text-center {
   text-align: center !important;
}

.shadow {
   box-shadow: 0 .25rem .375rem -.0625rem hsla(0, 0%, 8%, .12), 0 .125rem .25rem -.0625rem hsla(0, 0%, 8%, .07) !important;
}

.icon {
   fill: currentColor;
   stroke: none;
}

.icon {
   fill: currentColor;
   stroke: none;
   display: inline-block;
   color: #fff;
   font-size: 1.4rem;
   height: 2.5em;
   padding-top: 15px;
   width: 2.5em;
}

.align-card-img {
   display: grid;
   align-items: center;
   text-align: center;
}

.p-style {
   font-size: 14px;
   color: #777777;
}

.myscroll::-webkit-scrollbar {
   width: 2px;
   height: 2rem;
}

.myscroll::-webkit-scrollbar-track {
   border-radius: 10px;
}

.myscroll::-webkit-scrollbar-thumb {
   background: #777 !important;
   border-radius: 10px;
}

.color-gray {

   color: #777;
}

.myaddon1 {
   background: white;
   margin-left: -14px;
   border-radius: 10px;
   margin-top: -11px;
   padding: 20px 20px 20px 20px;
}

.icon1 {
   fill: currentColor;
   stroke: none;
   display: inline-block;
   color: #fff;
   font-size: 5.4rem;
   height: 2.5em;
   width: 3em;
   padding-top: 0.6em;
}

.marg-bottom {
   margin-bottom: 4em;
}

.icon-shape .my-icon {
   top: 14px;
}

.icon-shape i {
   color: #fff;
   opacity: .8;
   top: 11px;
   position: relative;
}

.text-lg {
   font-size: 1.125rem !important;
}

.opacity-10 {
   opacity: 1 !important;
}

.my-icon {
   display: inline-block;
   font: normal normal normal 14px/1 NucleoIcons;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.RA-13-myscroll-content {
   overflow-x: hidden;
   overflow-y: auto;
   margin-top: 23px;
   height: 18vh;
   border-top: 1px solid #7777
}

.RA-13-dashboard-margin-tp {
   margin-top: -60px;
}