.RA-13-form-heading{
 position: absolute !important;
 top: 10px !important;
}

.RA-13-btn{
 background: #131d26;
 height: 40px;
 color: #fff;
 border: none;
 font-size: 14px;
 font-family: 'Be Vietnam Pro', sans-serif;
}